In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt

In [2]:
def selectkbest(indep_X,dep_Y,n):
        test = SelectKBest(score_func=chi2, k=n)
        fit1= test.fit(indep_X,dep_Y)
        selectk_features = fit1.transform(indep_X)
        return selectk_features
    
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test
    
 
def cm_prediction(classifier,X_test):
        y_pred = classifier.predict(X_test)
        
        # Making the Confusion Matrix
        from sklearn.metrics import confusion_matrix
        cm = confusion_matrix(y_test, y_pred)
        
        from sklearn.metrics import accuracy_score 
        from sklearn.metrics import classification_report 
        #from sklearn.metrics import confusion_matrix
        #cm = confusion_matrix(y_test, y_pred)
        
        Accuracy=accuracy_score(y_test, y_pred )
        
        report=classification_report(y_test, y_pred)
        return  classifier,Accuracy,report,X_test,y_test,cm

In [3]:
def logistic(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.linear_model import LogisticRegression
        classifier = LogisticRegression(random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      
    
def svm_linear(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'linear', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def svm_NL(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'rbf', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
   
def Navie(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.naive_bayes import GaussianNB
        classifier = GaussianNB()
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm         
    
    
def knn(X_train,y_train,X_test):
           
        # Fitting K-NN to the Training set
        from sklearn.neighbors import KNeighborsClassifier
        classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
def Decision(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.tree import DecisionTreeClassifier
        classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      


def random(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestClassifier
        classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm

In [4]:
def selectk_Classification(acclog,accsvml,accsvmnl,accknn,accnav,accdes,accrf): 
    
    dataframe=pd.DataFrame(index=['ChiSquare'],columns=['Logistic','SVMl','SVMnl','KNN','Navie','Decision','Random'])
    for number,idex in enumerate(dataframe.index):      
        dataframe['Logistic'][idex]=acclog[number]       
        dataframe['SVMl'][idex]=accsvml[number]
        dataframe['SVMnl'][idex]=accsvmnl[number]
        dataframe['KNN'][idex]=accknn[number]
        dataframe['Navie'][idex]=accnav[number]
        dataframe['Decision'][idex]=accdes[number]
        dataframe['Random'][idex]=accrf[number]
    return dataframe

In [5]:
dataset1=pd.read_csv("preprocessedloksabha.csv",index_col=None)

df2=dataset1

In [6]:
df2

,WINNER,CRIMINALCASES,AGE,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS \nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \nIN CONSTITUENCY,TOTAL ELECTORS,STATE,CONSTITUENCY,NAME,PARTY,SYMBOL,GENDER,CATEGORY,EDUCATION
0,1,2.5,52.0,3099414,2.314500e+05,376892,482.0,377374,25.330684,35.468248,1489790.0,Telangana,ADILABAD,SOYAM BAPU RAO,BJP,Lotus,MALE,ST,scholl level
1,0,0.0,54.0,18477888,8.470000e+05,318665,149.0,318814,21.399929,29.964370,1489790.0,Telangana,ADILABAD,Godam Nagesh,TRS,Car,MALE,ST,Post Graduate/Doctorate
2,0,2.5,52.0,36491000,1.524493e+07,314057,181.0,314238,21.092771,29.534285,1489790.0,Telangana,ADILABAD,RATHOD RAMESH,INC,Hand,MALE,ST,scholl level
3,1,2.5,58.0,74274036,8.606522e+06,644459,2416.0,646875,33.383823,56.464615,1937690.0,Uttar Pradesh,AGRA,Satyapal Singh Baghel,BJP,Lotus,MALE,SC,Post Graduate/Doctorate
4,0,0.0,47.0,133784385,1.524493e+07,434199,1130.0,435329,22.466390,37.999125,1937690.0,Uttar Pradesh,AGRA,Manoj Kumar Soni,BSP,Elephant,MALE,SC,Post Graduate/Doctorate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,0,0.0,28.0,1168500,9.000000e+03,20563,57.0,20620,1.076097,1.755157,1916185.0,Maharashtra,YAVATMAL-WASHIM,Vaishali Sudhakar Yede,PHJSP,Whistle,FEMALE,GENERAL,scholl level
2014,0,0.0,43.0,4890000,1.020000e+06,14661,25.0,14686,0.766419,1.250060,1916185.0,Maharashtra,YAVATMAL-WASHIM,Anil Jayram Rathod,IND,SHIP,MALE,GENERAL,Post Graduate/Doctorate
2015,1,2.5,63.0,219403654,1.153500e+07,434066,178.0,434244,28.975369,41.574183,1498666.0,Telangana,ZAHIRABAD,B.B.PATIL,TRS,Car,MALE,GENERAL,Graduate
2016,0,0.0,49.0,219403654,0.000000e+00,427900,115.0,428015,28.559732,40.977823,1498666.0,Telangana,ZAHIRABAD,MADAN MOHAN RAO,INC,Hand,MALE,GENERAL,Post Graduate/Doctorate
2017,0,2.5,47.0,58577327,5.250000e+06,138731,216.0,138947,9.271379,13.302678,1498666.0,Telangana,ZAHIRABAD,BANALA LAXMA REDDY,BJP,Lotus,MALE,GENERAL,scholl level

In [7]:
df2 = pd.get_dummies(df2, drop_first=True)

indep_X=df2.drop('WINNER', 1)
dep_Y=df2['WINNER']

In [8]:
indep_X

,CRIMINALCASES,AGE,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS \nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \nIN CONSTITUENCY,TOTAL ELECTORS,...,SYMBOL_Umbrella,SYMBOL_Walking Stick,SYMBOL_Water Melon,SYMBOL_Whistle,GENDER_MALE,CATEGORY_SC,CATEGORY_ST,EDUCATION_Illiterate,EDUCATION_Post Graduate/Doctorate,EDUCATION_scholl level
0,2.5,52.0,3099414,2.314500e+05,376892,482.0,377374,25.330684,35.468248,1489790.0,...,0,0,0,0,1,0,1,0,0,1
1,0.0,54.0,18477888,8.470000e+05,318665,149.0,318814,21.399929,29.964370,1489790.0,...,0,0,0,0,1,0,1,0,1,0
2,2.5,52.0,36491000,1.524493e+07,314057,181.0,314238,21.092771,29.534285,1489790.0,...,0,0,0,0,1,0,1,0,0,1
3,2.5,58.0,74274036,8.606522e+06,644459,2416.0,646875,33.383823,56.464615,1937690.0,...,0,0,0,0,1,1,0,0,1,0
4,0.0,47.0,133784385,1.524493e+07,434199,1130.0,435329,22.466390,37.999125,1937690.0,...,0,0,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,0.0,28.0,1168500,9.000000e+03,20563,57.0,20620,1.076097,1.755157,1916185.0,...,0,0,0,1,0,0,0,0,0,1
2014,0.0,43.0,4890000,1.020000e+06,14661,25.0,14686,0.766419,1.250060,1916185.0,...,0,0,0,0,1,0,0,0,1,0
2015,2.5,63.0,219403654,1.153500e+07,434066,178.0,434244,28.975369,41.574183,1498666.0,...,0,0,0,0,1,0,0,0,0,0
2016,0.0,49.0,219403654,0.000000e+00,427900,115.0,428015,28.559732,40.977823,1498666.0,...,0,0,0,0,1,0,0,0,1,0
2017,2.5,47.0,58577327,5.250000e+06,138731,216.0,138947,9.271379,13.302678,1498666.0,...,0,0,0,0,1,0,0,0,0,1

In [9]:
dep_Y

0       1
1       0
2       0
3       1
4       0
       ..
2013    0
2014    0
2015    1
2016    0
2017    0
Name: WINNER, Length: 2018, dtype: int64

In [28]:
kbest=selectkbest(indep_X,dep_Y,5)       

acclog=[]
accsvml=[]
accsvmnl=[]
accknn=[]
accnav=[]
accdes=[]
accrf=[]

In [29]:
kbest

array([[3.09941400e+06, 2.31450000e+05, 3.76892000e+05, 4.82000000e+02,
        3.77374000e+05],
       [1.84778880e+07, 8.47000000e+05, 3.18665000e+05, 1.49000000e+02,
        3.18814000e+05],
       [3.64910000e+07, 1.52449269e+07, 3.14057000e+05, 1.81000000e+02,
        3.14238000e+05],
       ...,
       [2.19403654e+08, 1.15350000e+07, 4.34066000e+05, 1.78000000e+02,
        4.34244000e+05],
       [2.19403654e+08, 0.00000000e+00, 4.27900000e+05, 1.15000000e+02,
        4.28015000e+05],
       [5.85773270e+07, 5.25000000e+06, 1.38731000e+05, 2.16000000e+02,
        1.38947000e+05]])

In [30]:
X_train, X_test, y_train, y_test=split_scalar(kbest,dep_Y)   
    
        
classifier,Accuracy,report,X_test,y_test,cm=logistic(X_train,y_train,X_test)
acclog.append(Accuracy)

classifier,Accuracy,report,X_test,y_test,cm=svm_linear(X_train,y_train,X_test)  
accsvml.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=svm_NL(X_train,y_train,X_test)  
accsvmnl.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=knn(X_train,y_train,X_test)  
accknn.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=Navie(X_train,y_train,X_test)  
accnav.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=Decision(X_train,y_train,X_test)  
accdes.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=random(X_train,y_train,X_test)  
accrf.append(Accuracy)
    
result=selectk_Classification(acclog,accsvml,accsvmnl,accknn,accnav,accdes,accrf)

result

C:\Users\udhaya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

           Logistic     SVMl     SVMnl       KNN     Navie  Decision    Random
ChiSquare  0.885149  0.89505  0.885149  0.861386  0.851485  0.869307  0.865347

# svm linear of classification model high chisquare occured
so we can creat model svm linear method